// B3D89C
@color-1: #808080;
@color-2: darken(@color-1, 30%);

*{
  box-sizing: border-box;
  font-family: 'Do Hyeon', sans-serif;
  //border: 1px solid red;
}

html, body, #container{
  margin: 0;
  padding: 0;
  background-color: @color-1;
}

.header{
  color: @color-2;
  margin-top: 8px;
}

button.btn:focus{
  box-shadow: none;
}
